* {
  margin: 0;
  padding: 0;
}


.main{
 margin-left: 25px;
  background-color: hsl(228, 88%, 97%);
  width: 95%;
  height: 100% !important;
  
}
.Header_main{
  padding-top: 10px;
  font-weight: 300px;
  
}
.CSM_PARENT{
 
  padding-top: 20px;
  width: 80%;
  border: 2px solid red ;
  box-shadow: 1px 1px 10px 5px rgba(203, 199, 199, 0.2); 
}