* {
    margin: 0;
    padding: 0;
  }

.header{
    display:inline-flex;
    width: 100%;
    margin: 25px;
}
.header_logo>img{
    margin-left: 25px;
    width: 80px;
    height: 80px;
}
.header_text{
    margin-left: 35px;
    font-size: 40px;
}
.header_text .P{
    font-size: 20px;
}