* {
    margin: 0;
    padding: 0;
  }
  .list{
   display:inline-flex;
   width: 100%;
    margin-left: 0.5px;
    border: 0.5px solid #e2e1e1;
    
    
  }

.list_text{
  width: 80%;
  padding-left: 15px;
  margin-top:5px;
  padding-bottom: 1px;
  margin-bottom: 1px;
  }

.list_text>h4{
  font-size: large;

  }
.fa-trash{
margin-top: 25px;
margin-left: 65px;
color: #1E2FA1;
}