.parent{
    display: inline-flex;
    margin-bottom: 35px;
    width: 100%;
}
.search{
    width:100%;
}
.btn>button{
    background-color: #1E2FA1; /* Green */
    border: none;
    color: white;
    width: 100px;
    height: 38px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
    cursor: pointer;
}

